* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-wrap: normal;
}


.homepage {
    width: 100%;
    height: auto;
    margin-top: 10%;
    text-align: center;
    color: white;
    font-size: 2rem;
}