* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-wrap: normal;
}


.content {
    width: 100%;
    height: auto;
    margin-top: 10%;
    top: 0;
    flex-direction: column;
    text-align: center;
    color: white;

}


h1 {
    font-size: 50px;
}

h2 {
    font-size: 50px;
}